&cli.StringFlag{
    Name: "{{.Name}}",
    Usage: "{{.Usage}}",
    {{- if .Aliases}}
    Aliases: []string{
        {{- range $alias := .Aliases}}
        "{{$alias}}",
        {{- end}}
    },
    {{- end}}
    {{- if .EnvVars}}
	EnvVars: []string{
        {{- range $envVar := .EnvVars}}
        "{{$envVar}}",
        {{- end}}
    },
    {{- end}}
	{{- if .Value }}
    Value: "{{.Value}}",
    {{- end}}
}