func New{{.CommandName}}Cmd(svc Service) *cobra.Command {
    {{.VarCmd}}Cmd = &cobra.Command{
    	Use:   "{{.Use}}",
    	Short: "{{.Short}}",
    	Long:  `{{.Long}}`,
        {{- if .Run }}
        Run: func(cmd *cobra.Command, args []string) {
            svc.{{.CommandName}}(cmd, args)
        },
        {{- end }}
    }
    return {{.VarCmd}}Cmd
}